body{
    background-image: url("https://p.favim.com/orig/2019/04/20/background-purple-tumblr-Favim.com-7086548.jpg");
    font-family:'Josefin Slab',serif !important;
}

.login_div
{
	background-color: rgb(197, 21, 21);
    opacity: 0.7;
    margin-top: 50px;
    padding:20px;
    border-radius:90px;
    border-style:double;
    width:700px;
}

#logo{
    width:200px;
    height:200px;
}

h1{
    font-size:70px;
}

h2,h3,h4,label{
    font-size:25px;
}

button{
    background-color:#e9dbdb;
    width:170px;
    height:40px;
    margin-top:20px;
    font-size:25px;
    font-family:'Josefin Slab',serif;
    border-radius:50px;
    box-shadow: none;
}

button:hover{
    background-color:#c5b5a2;
    cursor:pointer;
}

#username{
   height:40px; 
   font-family:'Josefin Slab',serif;
   font-size:25px;
}